In [8]:
import pandas as pd
file_path="03-Python_Homework_PyPoll_Resources_election_data.csv"
py_poll_df=pd.read_csv(file_path)
py_poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [10]:
total_number_votes=py_poll_df["Voter ID"].count()
print(total_number_votes)

1048575

In [16]:
Candidate_Names=py_poll_df["Candidate"].unique()

Candidate_Names

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [24]:
Khan_votes=py_poll_df.loc[py_poll_df["Candidate"]=="Khan"]
Khan_votes_total=Khan_votes["Candidate"].count()
Khan_votes_total

661583

In [43]:
Khan_percentage=round((Khan_votes_total/total_number_votes)*100,2)
print(Khan_percentage)

63.09

In [44]:
Correy_votes=py_poll_df.loc[py_poll_df["Candidate"]=="Correy"]
Correy_votes_total=Correy_votes["Candidate"].count()
Correy_votes_total

209046

In [45]:
Correy_percentage=round((Correy_votes_total/total_number_votes)*100,2)
print(Correy_percentage)

19.94

In [46]:
Li_votes=py_poll_df.loc[py_poll_df["Candidate"]=="Li"]
Li_votes_total=Li_votes["Candidate"].count()
Li_votes_total

146360

In [47]:
Li_percentage=round((Li_votes_total/total_number_votes)*100,2)
print(Li_percentage)

13.96

In [48]:
O_votes=py_poll_df.loc[py_poll_df["Candidate"]=="O'Tooley"]
O_votes_total=O_votes["Candidate"].count()
O_votes_total

31586

In [49]:
O_percentage=round((O_votes_total/total_number_votes)*100,2)
print(O_percentage)

3.01

In [66]:
vote_results={'Candidate':Candidate_Names,
             'Vote Percentage':[Khan_percentage,Correy_percentage,Li_percentage,O_percentage],
             'Total Votes':[Khan_votes_total,Correy_votes_total,Li_votes_total,O_votes_total]}
print("Election Results:")   
print("Total Votes:")
print(total_number_votes)
print("Winner: Khan")
vote_results_df=pd.DataFrame(vote_results)
vote_results_df

Election Results:
Total Votes:
1048575
Winner: Khan

  Candidate  Vote Percentage  Total Votes
0      Khan            63.09       661583
1    Correy            19.94       209046
2        Li            13.96       146360
3  O'Tooley             3.01        31586