In [1]:
import pandas as pd

In [2]:
file_path="03-Python_Homework_PyBank_Resources_budget_data.csv"

py_bank_df=pd.read_csv(file_path)

py_bank_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [3]:
months_count=py_bank_df["Date"].count()
print(months_count)

86

In [4]:
net_total=py_bank_df["Profit/Losses"].sum()
print(net_total)

38382578

In [5]:
profit_loss_diff=py_bank_df["Profit/Losses"].diff()
profit_loss_average=round(profit_loss_diff.mean(),2)
print(profit_loss_average)

-2315.12

In [6]:
py_bank_df["Profit/Loss Diff"]=profit_loss_diff

In [7]:
py_bank_df

      Date  Profit/Losses  Profit/Loss Diff
0   Jan-10         867884               NaN
1   Feb-10         984655          116771.0
2   Mar-10         322013         -662642.0
3   Apr-10         -69417         -391430.0
4   May-10         310503          379920.0
..     ...            ...               ...
81  Oct-16         102685         -665765.0
82  Nov-16         795914          693229.0
83  Dec-16          60988         -734926.0
84  Jan-17         138230           77242.0
85  Feb-17         671099          532869.0

[86 rows x 3 columns]

In [8]:
greatest_increase=py_bank_df.max()
print(greatest_increase)

Date                     Sep-16
Profit/Losses           1170593
Profit/Loss Diff    1.92616e+06
dtype: object

In [9]:
greatest_decrease=py_bank_df.min()
print(greatest_decrease)

Date                     Apr-10
Profit/Losses          -1196225
Profit/Loss Diff   -2.19617e+06
dtype: object

In [26]:
print("Financial Analysis")

print("Total Months:") 
print(months_count)
print("Total:")
print(net_total)
print("Average Change:")
print(profit_loss_average)
print("Greatest Increase in Profits:")
print(greatest_increase)
print("Greatest Decrease in Profits:")
print(greatest_decrease)

Financial Analysis
Total Months:
86
Total:
38382578
Average Change:
-2315.12
Greatest Increase in Profits:
Date                     Sep-16
Profit/Losses           1170593
Profit/Loss Diff    1.92616e+06
dtype: object
Greatest Decrease in Profits:
Date                     Apr-10
Profit/Losses          -1196225
Profit/Loss Diff   -2.19617e+06
dtype: object